<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="102400" executionTimeout="720" />

  </system.web>
  <appSettings configSource="Config\appconfig.config"/>
  <system.serviceModel>
    <!--services_start-->
    <services>
      <service name="WebUI.WebService.ThirdPartyInterface">
        <endpoint address="" behaviorConfiguration="WebUI.WebService.ThirdPartyInterfaceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebUI.WebService.ThirdPartyInterface" />
      </service>
    </services>
    <!--services_end-->
    <!--behaviors_start-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebUI.WebService.ThirdPartyInterfaceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="">        
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
    <!--behaviors_end-->
    <!--serviceHostingEnvironment_start-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <!--serviceHostingEnvironment_end-->
  </system.serviceModel>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="managelogin.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
