<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!--数据库链接字符串_Begin-->
	<add key="SqlConn" value="sP4l684NdLCl4vChsESmLHAJwzUp8UpUKcQFEZDDXvTlWZ0mseyVQEB2kPi+dgNvR/fYmPOI05l98GD4PmSL5Q==" />
	<!--数据库链接字符串_End-->
	<!--通联支付接口_Begin-->
	<add key="userName" value="20060400000044502"/>
	<add key="password" value="111111"/>
	<add key="merchantId" value="200604000000445"/>
	<add key="businessCode" value="09900"/>
	<add key="url" value="https://113.108.182.3/aipg/ProcessServlet"/>
	<add key="returnUrl" value="http://www.fcms.com/Member/allinpay/Receive.aspx"/>
	<add key="signCertUrl" value="D:\allinpay-pds-test\20060400000044502.p12"/>
	<add key="verifyCertUrl" value="D:\allinpay-pds-test\allinpay-pds.cer"/>
	<!--通联支付接口_End-->
	<!--鹏元征信接口_Begin-->
	<add key="zx_UserID" value="324324324324234"/>
	<add key="zx_Pwd" value="111111"/>
	<!--鹏元征信接口_End-->
	<!--合同虚拟&物理路径-->
	<add key="contractVirtualPath" value="http://192.168.1.249:8088/contract/"/>
	<add key="contractPhysicallPath" value="D://files/contract/"/>
	<!--图片虚拟&物理路径-->
	<add key="imgVirtualPath" value="http://192.168.1.249:8088/img/"/>
	<add key="imgPhysicallPath" value="D://files/img/"/>
	<!--身份证照片虚拟&物理路径-->
	<add key="idPhotoVirtualPath" value="http://192.168.1.249:8088/photo/"/>
	<add key="idPhotoPhysicallPath" value="D://files/photo/"/>
	<!--借款标审核附件虚拟&物理路径-->
	<add key="loanFileVirtualPath" value="http://192.168.1.249:8088/loanFile/"/>
	<add key="loanFilePhysicallPath" value="D://files/loanFile/"/>
	<!--APP应用文件虚拟&物理路径-->
	<add key="appFileVirtualPath" value="http://192.168.1.249:8088/app/"/>
	<add key="appFilePhysicallPath" value="D://files/app/"/>
</appSettings>
