<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!--数据库链接字符串_Begin-->
	<add key="SqlConn" value="sP4l684NdLCl4vChsESmLHAJwzUp8UpUKcQFEZDDXvTlWZ0mseyVQEB2kPi+dgNvR/fYmPOI05l98GD4PmSL5Q==" />
	<!--数据库链接字符串_End-->
	<!--图片虚拟&物理路径-->
	<add key="imgVirtualPath" value="http://192.168.1.249:8088/img/"/>
	<add key="imgPhysicallPath" value="D://files/img/"/>
</appSettings>
